@charset "utf-8";
@charset "utf-8";
#redhlp_loadCss {
	z-index: 1;   
	position: fixed; 
}
* {
	outline: none; 	
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #fff;
}
#container, #offline, #online {
	width: 100%;
	height: 100%;
	position: relative;
}
.center {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	
	height: 100%;
}
.topPanel {
	cursor: default;
}
#blocker {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    -khtml-opacity: 0.01;
    opacity: 0.01;
	z-index: 99999;
}
.colorifier {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: none;
	opacity: 0.1;
	filter: alpha(opacity = 10);
	pointer-events: none;
}
/* Copyrights */
#footer {
	display: none;
}
@charset "utf-8";
#offline .header {
	font-weight: bold;
}
#feedbackForm {
	position: relative;
	overflow: hidden;
}
#offline input, #offline textarea {
	line-height: 14px;
	padding: 2px;
	width: 100%;
}
.inputField.message {
	margin-top: 10px;
}
.inputField {
	margin-top: 4px;
}
#actionPanel {
	position: relative;
	margin-right: 0px;
	margin-top: 15px;
	float: right;
}
#throbber {
	color: #555;
	background: url(../images/common/throbber.gif) no-repeat;
	float: right;
	padding-left: 18px;
	margin-right: 8px;
	height: 20px;
}
#sendButton {
	float: right;
	width: 75px;
	height: 15px;
	padding: 3px 15px 6px;
	cursor: pointer;
	text-align: center;
}
#offlineSuccess {
	width: 260px;
	margin: 0 auto;
	height: 50%;
	position: relative;
	color: #090;
	font-size: 18px;
}
#offlineSuccess div {
	position: absolute;
	bottom: 0;
}
@charset "utf-8";
#onlinePanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.wrapper {
	padding: 0 10px 0 8px;
	height: 100%;
}
#online .topPanel {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
}
#faceWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
#face {
	float: left;
	margin: 5px 20px 5px 0px;
}
#topDescription {
	float: left;
	margin: 5px 0;
	left: 90px;
	overflow: hidden;
	position: absolute;
	right: 10px;
}
#topHeader {
	font-weight: bold;
	font-size: 22px;;
}
#topText {
	margin: 5px 0 0 0;
}
#chatItself {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#chatInput {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 60px;
	padding: 0;
}
#chatTextarea {
	width: 100%;
	height: 60px;
	margin:  0;
	padding: 2px 0 0 2px;
	border: none;
	resize: none;
}
::selection {
	background: #ccc;
}
::-moz-selection {
	background: #ccc;
}
#container {
	font-family: "Trebuchet MS", Tahoma, Arial,Verdana, Sans-serif;
	font-size: 12px;
	color: #333;
    background: #efefef;
}
#online {
	background: url("../images/mac/onlineBack.png") repeat-x #efefef;
}
#onlinePanel {
	bottom: 182px;
}
#online .center {
	padding: 80px 0 100px;
}
#online .topPanel {
	color: #555;
	text-shadow: #fff 1px 1px 0, #555 0 0 1px;
}
#face {
	border: 1px solid #ccc;
}
#chatItself {
	background: #fff !important;
	border: 1px solid #b7b7b7;
	padding-bottom: 10px;
}
#chatInput {
	border: 1px solid #bdbdbd;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 10px;
}
#chatTextarea {
	overflow: auto;
	background: #fff;    
	font-family: "Helvetica Neue", Helvetica, Arial, San-serif;
	font-size: 12px;
	color: #bbb;
	box-shadow: 0 1px 2px #aaa inset;
}
#textAreaWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 32px;
}
#chatSend {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30px;
	background: url("../images/mac/buttons.png") -104px 0 no-repeat;
}
#chatSend:hover {
	background: url("../images/mac/buttons.png") -134px 0 no-repeat;
}
#scrollBarContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0;
	z-index: 99995;
}
#scrollBar {
	width: 7px;
	height: 100px;
	position: absolute;
	top: 20px;
	margin-top: 10px;
	display: none;
}
.msg {
	padding: 0 10px 0px;
	overflow: hidden;
}
.msgHeader {
	overflow: hidden;
	width: 100%;
	margin: 10px 0px 5px 0px;
}
.time {
	float: right;
	margin: 5px 6px 0 -100px;
}
.sender {
	margin: 0 0 0 10px;
	float: left;
}
.textWrapper {
	width: 100%;
}
.prompt .textWrapper {
	background: #F2F5F5;
	border: 1px solid #E3E4E4;
	border-radius: 4px;
}
.text {
	padding: 5px 60px 8px 12px;
	word-wrap: break-word;
}
.prompt .text {
	padding:  5px 12px 8px 12px;
}
.invitation .text {
	padding-right: 5px;
}
.msgHeader {
	background: #f2f5f5;
	border: 1px solid #E3E4E4;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.time {
	color: #aaa;
}
.prompt .time {
	display: none;
}
.msgHeader.fromVisitor {
	background: #eef;
}
.sender {
	font-weight: bold;
	color: #5a5;
}
span.fromVisitor {
	color: #a55 !important;
}
.text {
	color: #555;
	font-size: 14px;
	border-bottom: 1px solid #f5f5f5;
}
#typingLabel, #chatLabel {
	display: none;
}
#typingLabel .text, #chatLabel .text {
	color: #aaa;
	font-size: 12px;
	padding: 2px 60px 2px 12px;
}
.promptButtonWrapper {
	margin: 5px;
}
.promptButton {
	min-width: 45px;
	margin: 0 5px 0 0;
	background: #B5BCC5;
	border: 1px solid #A0A7B0;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 0 #A0A7B0;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}
.promptButton.yes {
	background: #5A5;
}
.promptButton.yes:hover {
	background: #6B6;
	border: 1px solid #008800;
}
.promptButton:hover {
	background: #BCBCBC;
	border: 1px solid #888888;
	text-shadow: 0 0 1px #fff;
}
.promptButton {
	float: right;
	width: 28px;
	height: 15px;
	padding: 3px 15px 5px;
	cursor: pointer;
	text-align: center;
}
#offline {
	background: url("../images/mac/offlineBack.png") repeat;
	line-height: 13px;
}
.description {
	line-height: 14px;
}
#offline input, #offline textarea {
	box-shadow: 0 1px 2px #ccc inset;
	border: 1px solid #aaa;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-family: "Trebuchet MS", Tahoma, Arial,Verdana, Sans-serif;
	font-size: 14px;
	line-height: 18px;
}
#sendButton {
	background: url("../images/mac/buttons.png") 1px 0 no-repeat;
	font-size: 13px;
	text-shadow: 0 0 1px #000;
	color: #fff;
}
#sendButton:hover {
	background: url("../images/mac/buttons.png") 2px -23px no-repeat;
}
.pressed#sendButton {
	background: url("../images/mac/buttons.png") 2px -48px no-repeat;
}
#scrollBar {
	display: none;
}
#offline .topPanel {
	height: 55px;
	padding: 15px 20px 0;
	overflow: hidden;
}
#offline #feedbackForm {
	position: absolute;
	overflow: hidden;
	top: 75px;
	bottom: 0;
	left: 0;
	right: 6px;
	padding: 0 20px;
}
#offline #actionPanel {
	position: absolute;
	margin: 0;
	bottom: 30px;
	right: 18px;
}
.inputField.message {
	position: absolute;
	top: 82px;
	left: 20px;
	right: 20px;
	bottom: 95px;
}
#offline .message textarea {
	height: 100%;
	position: absolute;
	top: 14px;
	left: 0;
	resize: none;
}
#offlineError {
	padding-left: 21px;
	font-weight: bold;
	color: #c00;
	position: absolute;
	bottom: 57px;
}
#mailSuccess {
	padding-left: 21px;
	font-weight: bold;
	color: #090;
	position: absolute;
	bottom: 57px;
}
