@charset "utf-8";
.redhlp_reset {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	margin: 0;
	padding: 0;
	border: none 0;
	font-size: 12px;
	vertical-align: baseline;
	background: none;
	color: black;
	line-height: 16px;
	outline: none;
	text-transform: none;
}
.redhlp_reset.redhlp_reset.redhlp_reset.redhlp_reset.redhlp_reset.redhlp_reset.redhlp_reset.redhlp_reset {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	margin: 0;
	padding: 0;
	border: none 0;
	font-size: 12px;
	vertical-align: baseline;
	background: none;
	color: black;
	line-height: 16px;
	outline: none;
	text-transform: none;
}
a.redhlp_reset, span.redhlp_reset {
	display: inline;
	width: auto;
}
div.redhlp_reset {
	display: block;
}
#redhlp_loadCss {
	z-index: 1;   
	position: fixed; 
}
#redhlp_setup {}
#redhlp_snippet {}
#redhlp_frameWrapper iframe {
	width: 100%;
	height: 100%;
}
#redhlp_colorifier {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: none;
	opacity: 0.1;
	filter: alpha(opacity = 10);
}
#redhlp_chat {
	position: fixed;
	z-index: 99990;
}
#redhlp_chatWindow {
	position: absolute;
}
#redhlp_chatFrame {
	position: relative;
	z-index: 1;
}
#redhlp_block {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99992;
	background: #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	-khtml-opacity: 0.01;
	opacity: 0.01;
}
#redhlp_resizeBoth {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: se-resize;
	background: url(../../images/mac/components.png) no-repeat -38px -22px;
	z-index: 99999;
}
#redhlp_maximize a {
	display: block;
	width: 100%;
	height: 100%;
}
#redhlp_notification {
	position: fixed;
	padding:  10px 30px 10px 20px;
	text-align: center;
	z-index: 99991;
}
#redhlp_copy a:hover {
	color: #B01C23 !important;
	text-decoration: underline !important;
}
#redhlp_snippet {
	font-family: "Segoe UI", Tahoma, Arial, Verdana, sans-serif;
}
#redhlp_badge {
	position: fixed;
	z-index: 99990;
}
#redhlp_badge .redhlp_inner {
	position: relative;
}
#redhlp_badge .redhlp_inner:hover {
}
#redhlp_badge.redhlp_left .redhlp_inner:hover {
	right: -5%;
}
#redhlp_badge.redhlp_right .redhlp_inner:hover {
	left: -5%;
}
#redhlp_badge.redhlp_bottom .redhlp_inner:hover {
	top: -5%;
}
#redhlp_badgeContent {
	display: none;
}
#redhlp_badge .redhlp_inner {
	margin:  1px;
	font-family: "Segoe UI", Tahoma, Arial, Verdana, sans-serif;
}
	#redhlp_badge.redhlp_bottom .redhlp_inner {
		left: 0;
		top: 0;
	}
	#redhlp_badge.redhlp_right .redhlp_inner {
		left: 0;
		top: 0;
	}
	#redhlp_badge.redhlp_left .redhlp_inner {
		left: auto;
		right: 0;
		top: 0;
	}
#redhlp_badge.active .redhlp_inner {}
#redhlp_badge.active.blink .redhlp_inner {}
#redhlp_badge svg,
#redhlp_badge img {
	cursor: pointer;
}
#redhlp_notification {
	top: 20px;
	left: 20px;
	background: #fffff7;
	border: 1px solid #ddddd7;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 130px;
}
#redhlp_notification .message {
	width: 130px;
}
#redhlp_notification .close {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 4px;
	right: 4px;
	background: url("../../images/mac/components.png") -4px -4px;
}
#redhlp_notification .close:hover {
	background: url("../../images/mac/components.png") -4px 16px;
}
#redhlp_chat {
	top: 30%;
	left: 200px;
	width: 290px;
	height: 380px;
	min-width: 260px;
	min-height: 300px;
	box-shadow: #555 0 3px 8px;
	border:  none;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
	.redhlp_bottom #redhlp_chat {
		top: auto;
		left: auto;
		right: 25%;
		bottom: 50px;
	}
	.redhlp_right #redhlp_chat {
		left: auto;
		right: 200px;
		bottom: auto;
	}
.redhlp_stateOffline #redhlp_chat {
}
#redhlp_chatInnerWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
#redhlp_chatTop {
	display: none;
}
#redhlp_chatWindow {
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
}
#redhlp_frameWrapper {
	position: absolute;
	top: 21px;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	overflow:  hidden;
	background: #ccc;
}
#redhlp_topPanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	background: repeat-x url("../../images/mac/topbg.png") #ccc;
	border-bottom: 1px solid #8E8E8E;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
}
#redhlp_chatBack {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
#redhlp_chatShadow {
	position: absolute;
	top: -4px;
	bottom: -2px;
	left: -7px;
	right: 0;
	background: #000;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.30');
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#redhlp_close {
	position: absolute;
	right: 6px;
	top: 4px;
	left: auto;
	width: 14px;
	height: 14px;
	background: no-repeat url("../../images/mac/components.png") -80px 0;
	z-index: 99993;
}
#redhlp_close:hover, #redhlp_close.hover {
	background: no-repeat url("../../images/mac/components.png") -80px -14px;
}
#redhlp_close.pressed {
	background: no-repeat url("../../images/mac/components.png") -80px -28px;
}
#redhlp_sound {
	transition: opacity 0.2s;
	-moz-transition: -moz-opacity 0.2s; 
	-webkit-transition: opacity 0.2s; 
	-o-transition: opacity 0.2s; 
	position: absolute;
	left: 8px;
	top: 4px;
	width: 14px;
	height: 14px;
	z-index: 99993;
	opacity: 0.5;
	-moz-opacity: 0.5;
	background: no-repeat url("../../images/mac/components.png") -94px 0;
}
#redhlp_sound:hover {
	opacity: 0.9;
	-moz-opacity: 0.9;
}
#redhlp_sound.soundOff {
	background: no-repeat url("../../images/mac/components.png") -94px -14px;
}
#redhlp_invitation {
	position: fixed;
	overflow: hidden;
	z-index: 99990;
	top: 0;
	left: 0;
	width: 265px;
	height: 110px;
	background: #fff;
	border: 2px solid #BCBCBC;
	font-size: 12px;
	cursor: default;
	color: #aaa;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	.redhlp_bottom #redhlp_invitation {
		left: auto;
		right: 0;
		margin-top: -65px;
	}
	.redhlp_right #redhlp_invitation {
		left: auto !important;
		right: -4px;
	}
#redhlp_invWrapper {
	position: absolute;
	left: 12px;
	top: 10px;
	bottom: 10px;
	right: 15px;
	overflow: hidden;
}
	.redhlp_right #redhlp_invWrapper {
		left: 25px;
	}
#redhlp_invCenter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#redhlp_upbutton{
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 17px;
	background: #B5BCC5 no-repeat url("../../images/mac/components.png") 0 50%;
	cursor: pointer;
}
	.redhlp_bottom #redhlp_upbutton{
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		border:  1px solid #ddd;
		box-shadow: -1px 1px 0 #aaa;
		border-radius: 0 0 0 6px;
		-moz-border-radius: 0 0 0 6px;
		background: #B5BCC5 no-repeat url("../../images/mac/components.png") -40px 2px;
		cursor: pointer;
	}
	.redhlp_right #redhlp_upbutton{
		right: auto;
		left: 0;
		background: #B5BCC5 no-repeat url("../../images/mac/components.png") -22px 50%;
	}
#redhlp_upbutton:hover{
	background: #C5C5BC no-repeat url("../../images/mac/components.png") 0 50%;
}
	.redhlp_bottom #redhlp_upbutton:hover{
		background: #C5C5BC no-repeat url("../../images/mac/components.png") -40px 2px;
	}
	.redhlp_right #redhlp_upbutton:hover{
		background: #C5C5BC no-repeat url("../../images/mac/components.png") -22px 50%;
	}
#redhlp_face {
	position: absolute;
	top: 0;
	left: 0;
}
#redhlp_face img {
	width: 85px;
	border: 1px solid #ccc;
}
#redhlp_choice {
	position: absolute;
	bottom: 5px;
	left: 115px;
    width: 120px;
}
#redhlp_choice a.redhlp_btn {
    display: block;
    text-align: center;
    float: left;
	min-width: 45px;
	margin: 0 5px 0 0;
	background: #B5BCC5;
	border: 1px solid #A0A7B0;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 0 #A0A7B0;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}
#redhlp_choice a.redhlp_btn:hover{
	background: #BCBCBC;
	border: 1px solid #888888;
	text-shadow: 0 0 1px #fff;
}
#redhlp_invWelcomeFrame {
	position: absolute;
	top: 0;
	left: 100px;
	bottom: 25px;
	width: 125px;
	overflow: hidden;
	text-align: center;
}
#redhlp_arrow {
	position: fixed;
	background: url("../../../chat/images/mac/onlineBack.png") repeat-x #efefef;
	border: 5px solid #ccc;
	display: none;
	z-index: 99987;
	padding: 10px;
	border-radius: 10px;
	font-family: "Trebuchet MS", Tahoma, Arial,Verdana, sans-serif;
	font-size: 12px;
	overflow: visible;
	width: 166px;
	text-decoration: none;
	cursor: pointer;
}
#redhlp_arrow.redhlp_left {
	margin-right: 10px;
}
#redhlp_arrow.redhlp_right {
	margin-left: 10px;
}
#redhlp_arrow.redhlp_above {
	margin-bottom: 10px;
}
#redhlp_arrow.redhlp_below {
	margin-top: 10px;
}
#redhlp_arrow.redhlp_below.redhlp_left {
	margin-top: 0;
	margin-right: 0;
}
#redhlp_arrow.redhlp_below.redhlp_right {
	margin-top: 0;
	margin-left: 0;
}
#redhlp_arrow.top.redhlp_left {
	margin-bottom: 0;
	margin-right: 0;
}
#redhlp_arrow.top.redhlp_right {
	margin-bottom: 0;
	margin-left: 0;
}
#redhlp_arrow img {
	float: left;
	border: 1px solid #CCC;
	width: 64px;
}
#redhlp_arrow p {
	float: right;
	margin: 0;
	width: 90px;
	padding-left: 10px;
}
#redhlp_arrow .redhlp_arrow_itself {
	position: absolute !important;
}
#redhlp_arrow.redhlp_above .redhlp_arrow_itself {
	bottom: -15px;
	width: 20px;
	height: 10px;
	background: url("../../images/mac/components.png") -128px -30px;
}
#redhlp_arrow.redhlp_below .redhlp_arrow_itself {
	top: -15px;
	width: 20px;
	height: 10px;
	background: url("../../images/mac/components.png") -128px 0px;
}
#redhlp_arrow.redhlp_left .redhlp_arrow_itself {
	right: -15px;
	width: 10px;
	height: 20px;
	background: url("../../images/mac/components.png") -128px -10px;
}
#redhlp_arrow.redhlp_right .redhlp_arrow_itself {
	left:  -15px;
	width: 10px;
	height: 20px;
	background: url("../../images/mac/components.png") -138px -52px;
}
#redhlp_arrow.redhlp_below.redhlp_left .redhlp_arrow_itself {
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -168px 0px;
}
#redhlp_arrow.redhlp_below.redhlp_right .redhlp_arrow_itself {
	top: -5px;
	left: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -148px 0px;
}
#redhlp_arrow.top.redhlp_left .redhlp_arrow_itself {
	bottom: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -168px -20px;
}
#redhlp_arrow.top.redhlp_right .redhlp_arrow_itself {
	bottom: -5px;
	left: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -148px -20px;
}
#redhlp_arrow a {
	position: relative;
	z-index: 100500;
}
#redhlp_arrow .redhlp_shadow {
	position: absolute;
	top: -5px;
	left: -5px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	border: 5px solid #ffc500;
	z-index: 10001;
}
#redhlp_arrow.redhlp_above .redhlp_shadow .redhlp_arrow_itself {
	bottom: -15px;
	width: 20px;
	height: 10px;
	background: url("../../images/mac/components.png") -108px -30px;
}
#redhlp_arrow.redhlp_below .redhlp_shadow .redhlp_arrow_itself {
	top: -15px;
	width: 20px;
	height: 10px;
	background: url("../../images/mac/components.png") -108px 0px;
}
#redhlp_arrow.redhlp_left .redhlp_shadow .redhlp_arrow_itself {
	right: -15px;
	width: 10px;
	height: 20px;
	background: url("../../images/mac/components.png") -108px -10px;
}
#redhlp_arrow.redhlp_right .redhlp_shadow .redhlp_arrow_itself {
	left:  -15px;
	width: 10px;
	height: 20px;
	background: url("../../images/mac/components.png") -118px -52px;
}
#redhlp_arrow.redhlp_below.redhlp_left .redhlp_shadow .redhlp_arrow_itself {
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -208px 0px;
}
#redhlp_arrow.redhlp_below.redhlp_right .redhlp_shadow .redhlp_arrow_itself {
	top: -5px;
	left: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -188px 0px;
}
#redhlp_arrow.top.redhlp_left .redhlp_shadow .redhlp_arrow_itself {
	bottom: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -208px -20px;
}
#redhlp_arrow.top.redhlp_right .redhlp_shadow .redhlp_arrow_itself {
	bottom: -5px;
	left: -5px;
	width: 20px;
	height: 20px;
	background: url("../../images/mac/components.png") -188px -20px;
}
#redhlp_arrow p.hint {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #888;
}
#redhlp_arrow a.redhlp_close {
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	width: 14px;
	height: 14px;
	background: no-repeat url("../../images/mac/components.png") -80px 0;
	z-index: 99993;
}
#redhlp_arrow a.redhlp_close:hover, #redhlp_arrow a.redhlp_close.hover {
	background: no-repeat url("../../images/mac/components.png") -80px -14px;
}
#redhlp_arrow.redhlp_outside {
	margin: 0;
}
#redhlp_arrow.redhlp_outside .redhlp_arrow_itself {
	background: none !important;
}
#redhlp_arrow.redhlp_outside .redhlp_arrow_itself div {
	width: 90px;
	height: 90px;
	position: relative;
}
#redhlp_arrow.redhlp_outside .redhlp_arrow_itself {
	background: none;
}
#redhlp_arrow.redhlp_outside .redhlp_shadow .redhlp_arrow_itself {
	background: none;
}
#redhlp_arrow.redhlp_outside.redhlp_left, #redhlp_arrow.redhlp_outside.redhlp_below, #redhlp_arrow.redhlp_outside.redhlp_above {
	margin-bottom: 0;
	margin-right: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_right {
	margin-bottom: 0;
	margin-left: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_above .redhlp_arrow_itself, #redhlp_arrow.redhlp_outside.redhlp_below .redhlp_arrow_itself {
	right: -95px;
	top: -5px;
	width: 90px;
	height: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_below .redhlp_arrow_itself {
	top: 0;
}
#redhlp_arrow.redhlp_outside.redhlp_left .redhlp_arrow_itself {
	right: -95px;
	top: -5px;
	bottom: auto;
	width: 90px;
	height: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_right .redhlp_arrow_itself {
	left: -95px;
	top: -5px;
	bottom: auto;
	width: 90px;
	height: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_left.redhlp_below .redhlp_arrow_itself, #redhlp_arrow.redhlp_outside.redhlp_left.redhlp_above .redhlp_arrow_itself {
	left: auto;
	right: -95px;
	top: 0;
	bottom: auto;
	width: 90px;
	height: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_left.redhlp_below .redhlp_arrow_itself {
	top: -5px;
}
#redhlp_arrow.redhlp_outside.redhlp_left.redhlp_below .redhlp_arrow_itself {
	top: -5px;
}
#redhlp_arrow.redhlp_outside.redhlp_right.redhlp_below .redhlp_arrow_itself, #redhlp_arrow.redhlp_outside.redhlp_right.redhlp_above .redhlp_arrow_itself {
	left: -95px;
	right: auto;
	top: -5px;
	bottom: auto;
	width: 90px;
	height: 90px;
}
#redhlp_arrow.redhlp_outside.redhlp_right.redhlp_above .redhlp_arrow_itself {
	top: 0;
}
#redhlp_arrow.redhlp_outside.redhlp_above .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) 0 -90px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_below .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -180px -90px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_left .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -270px -90px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_right .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -90px -90px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_above.redhlp_left .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -180px 0 no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_above.redhlp_right .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -90px 0 no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_below.redhlp_right .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) 0 0 no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_below.redhlp_left .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -270px 0 no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_above .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) 0 -270px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_below .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -180px -270px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_left .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -270px -270px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_right .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -90px -270px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_above.redhlp_left .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -180px -180px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_above.redhlp_right .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -90px -180px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_below.redhlp_right .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) 0 -180px no-repeat;
}
#redhlp_arrow.redhlp_outside.redhlp_below.redhlp_left .redhlp_shadow .redhlp_arrow_itself div {
	background: url(../../images/mac/arrows.png) -270px -180px no-repeat;
}
#redhlp_arrow #redhlp_invitation {
    background: transparent;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}
#redhlp_arrow #redhlp_upbutton {
    display: none;
}
