/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(images/h6.png); 
}

.markItUp .markItUpButton7 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton8 a {
	background-image:url(images/italic.png);
}

.markItUp .markItUpButton9 a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton12 a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton13 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton14 a	{
	background-image:url(images/code.png);
}

.markItUp .preview a {
	background-image:url(images/preview.png);
}

header nav li a {
    color: #ffffff;
    font-family: Calibri;
    font-size: 49px;
    padding: 10px 12px 9px;

}

header nav li {

}

.wrapper {
    background: url("/img/stadium.jpg") no-repeat scroll center top #000000;
    padding: 16px 0 0;
    margin: 0 auto;
    width: 980px;

}

header nav {
    top: 263px;

}

header {
    height: 343px;

}

body {
    background-color: #fff;
    background: none repeat scroll 0 0 #7707F0;

}

a {
    text-decoration: none;

}

.ball {
    position: relative;
    top: -6px;
    left: 16px;

}

.slogan {
    position: relative;
    top: -26px;
    left: 11px;

}

.todays {
    color: white;
    margin-left: 12px;

}

.purplebg {
    overflow: hidden;

}

.bet {
    font-family: 'Facebook Letter Font', Calibri;
    font-size: 32px;
    color: #f453E8;

}

.time {
    font-family: 'Facebook Letter Font', Calibri;
    font-size: 32px;
    color: white;

}

.framemiddle {
    background-position: -2px;

}

.framebottom {
    background-position: center bottom;
    vertical-align: bottom;
    position: relative;

}

content ul {
    font-size: 20px;

}

h1.logo {
    font-size: 48px;

}